<div class="threads">
    <h2>Stack Traces</h2>

    {{#stacktraces}}
    <div id="{{identifier}}">
        <div class="stacktrace">
            <p>{{description}}</p>
            {{#stacktrace}}
            <div class="stackframe">
                <span class="metadata">at {{metadataName}}</span>
                <sub class="sourceFile">Source file: {{sourceFile}} ({{metadataToken}})</sub>
            </div>
            {{/stacktrace}}
            <hr />
        </div>
    </div>
    {{/stacktraces}}

</div>