{{#if reports}}
<h1 class="error">{{title}}</h1>
{{else}}
<h1>{{title}}</h1>
{{/if}}

<p class="summary">{{description}}</p>

<hr />

<div class="tab">
    <button id="btnRuntime" class="tablinks" data-group="main-tabs" onclick="openTab('Runtime')">Runtime</button>
    <button id="btnEnvironment" class="tablinks" data-group="main-tabs" onclick="openTab('Environment')">Environment</button>
    <button id="btnAssemblies" class="tablinks" data-group="main-tabs" onclick="openTab('Assemblies')">Assemblies</button>
    {{#if reports}}
    <button id="btnViolations" class="tablinks" data-group="main-tabs" onclick="openTab('Violations')">Violations</button>
    {{/if}}
</div>

<div id="Runtime" class="tabcontent" data-group="main-tabs">
    {{> runtime}}
</div>
<div id="Environment" class="tabcontent" data-group="main-tabs">
    {{> environment}}
</div>
<div id="Assemblies" class="tabcontent" data-group="main-tabs">
    {{> assemblies}}
</div>
<div id="Violations" class="tabcontent" data-group="main-tabs">
    {{> violations}}
</div>
