{{#environmentInfo}}

<h2>Environment Information</h2>

<table class="styled-table">
    <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 70%;">
    </colgroup>
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tr>
        <td>Operating System</td>
        <td>{{operatingSystem}}</td>
    </tr>
    <tr>
        <td>Machine Name</td>
        <td>{{machineName}}</td>
    </tr>
    <tr>
        <td>User Name</td>
        <td>{{userName}}</td>
    </tr>
    <tr>
        <td>Processor Architecture</td>
        <td>{{architecture}}</td>
    </tr>
    <tr>
        <td>Processor Count</td>
        <td>{{processorCount}}</td>
    </tr>
    <tr>
        <td>Total Memory</td>
        <td>{{totalMemory}}</td>
    </tr>
    <tr>
        <td>Working Directory</td>
        <td>{{workingDirectory}}</td>
    </tr>
</table>
{{/environmentInfo}}

