<script>
    function openTab(tabContentId) {
        const content = document.getElementById(tabContentId);
        const button = document.getElementById(`btn${tabContentId}`);
        const groupId = button.getAttribute("data-group");

        closeAllTabs(groupId);
        content.style.display = "block";
        button.classList.add("active");
    }

    function closeAllTabs(groupId) {
        for (let tabContent of document.querySelectorAll(`div.tabcontent[data-group='${groupId}']`)) {
            tabContent.style.display = "none";
        }

        for (let tabLink of document.querySelectorAll(`button.tablinks[data-group='${groupId}']`)) {
            tabLink.classList.remove("active");
        }
    }

    /* Initialize */
    openTab(document.querySelector("div.tabcontent[data-group='main-tabs']").id);
    openTab(document.querySelector("div.tabcontent[data-group='violation-reports']").id);

    /* Initialize first stacktrace tab for each report */
    const reportGroups = new Set();
    for (let tabContent of document.querySelectorAll("div.tabcontent[data-group^='report-']")) {
        reportGroups.add(tabContent.getAttribute("data-group"));
    }
    for (let groupId of reportGroups) {
        const firstTab = document.querySelector(`div.tabcontent[data-group='${groupId}']`);
        if (firstTab) {
            openTab(firstTab.id);
        }
    }
</script>