<div class="threads">

    <h2>Thread States</h2>
    <p class="summary">{{description}}</p>
    <hr/>

    <table class="styled-table">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 70%;">
        </colgroup>
        <thead>
            <tr>
                <th>Thread</th>
                <th>Reason for Report</th>
            </tr>
        </thead>
        {{#threads}}
        <tr>
            <td>{{name}}</td>
            <td>{{reason}}</td>
        </tr>
        {{/threads}}
    </table>

    <h2>Stack Traces</h2>
    <div class="tab">
        {{#threads}}
        <button id="btn{{../reportId}}-{{name}}" class="tablinks" data-group="111" onclick="openTab('{{../reportId}}-{{name}}')">{{name}}</button>
        {{/threads}}
    </div>

    {{#threads}}
    <div id="{{../reportId}}-{{name}}" class="tabcontent" data-group="111">
        <div class="stacktrace">
            {{#stacktrace}}
            <div class="stackframe">
                <span class="metadata">at {{metadataName}}</span>
                <sub class="sourceFile">Source file: {{sourceFile}} ({{metadataToken}})</sub>
            </div>
            {{/stacktrace}}
        </div>
    </div>
    {{/threads}}

</div>