<div class="thread-grid">
    {{#threads}}
    <div class="thread-panel">
        <div class="thread-panel-header">
            <span class="thread-name">{{name}}</span>
        </div>
        <div class="thread-panel-reason">{{reason}}</div>
        {{#if stacktrace}}
        <div class="stacktrace-block">
            {{#stacktrace}}
            <div class="stacktrace-line">
                <span class="frame-method">at {{metadataName}}</span>
            </div>
            {{/stacktrace}}
        </div>
        {{/if}}
    </div>
    {{/threads}}
</div>